<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="utf-8"/>
<title>{{ title }}</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>
<header>
  <div>
    <app-top-bar></app-top-bar>
    <app-time-bar></app-time-bar>
  </div>
</header>

<div id="main">
  <div>
    <table id="speelveld">
      <tr *ngFor="let cards of board">
        <app-card *ngFor="let letter of cards" [char]="char" [letter]="letter"></app-card>
      </tr>
    </table>

    <table id="meta">
      <tr><td>
        <app-top-five></app-top-five>
        <app-game-settings (charChange)="updateChar($event)"></app-game-settings>
      </td></tr>
      <tr><td>
        <app-color-settings></app-color-settings>
      </td></tr>
      <tr><td>
        <app-new-game></app-new-game>
      </td></tr>
    </table>
  </div>
</div>
</body>
</html>
