<table>
  <tr>
    <td>
      <label>Kaartkleur: </label>
    </td>
    <td>
      <input type="color" (change)="onColorChange($event)" value="#ff0000" />
    </td>
  </tr>
  <tr>
    <td>
      <label>Open: </label>
    </td>
    <td>
      <input type="color" (change)="onOpenColorChange($event)" value="#00ff00" />
    </td>
  </tr>
  <tr>
    <td>
      <label>Gevonden: </label>
    </td>
    <td>
      <input type="color" (change)="onFoundColorChange($event)" value="#ff00ff" />
    </td>
  </tr>
</table>
