<div class="container">
  <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
          <div class="account-wall">
              <img class="profile-img" src="https://dierenplaatjes.us/katten/katten01/004.jpg" />
              <form class="form-signin" [formGroup]="form">
                  <p style="text-align:center;color:red;" *ngIf="errorColor">Gegevens niet correct</p>
                  <input type="text" class="form-control" placeholder="Gebruikersnaam" required autofocus
                         [style.backgroundColor]="errorColor" formControlName="name">
                  <input type="password" class="form-control" placeholder="Wachtwoord" required
                         [style.backgroundColor]="errorColor" formControlName="password">
                  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">
                      Inloggen
                  </button>
              </form>
              <a href='register'>Registreer</a>
          </div>
      </div>
  </div>
</div>